drools/drools-examples/src/conf/META-INF/conway.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://drools.org/semantics/conway"
    elementFormDefault="qualified"
    xmlns:conway="http://drools.org/semantics/conway"
    xmlns:rules="http://drools.org/rules">

    <xs:import namespace="http://drools.org/rules" schemaLocation="rules.xsd"/>

    <xs:element name="condition" substitutionGroup="rules:abstractCondition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="conway:cell"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="actions" substitutionGroup="rules:abstractConsequence">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="conway:cell"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cell">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="conway:liveNeighborCountGreaterThan"/>
                <xs:element ref="conway:liveNeighborCountEquals"/>
                <xs:element ref="conway:liveNeighborCountLessThan"/>
                <xs:element ref="conway:queueState"/>
            </xs:choice>
            <xs:attribute name="name" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="queueState">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="live"/>
                <xs:enumeration value="dead"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="less-than">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="liveNeighborCountGreaterThan">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="liveNeighborCountLessThan">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="liveNeighborCountEquals">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

</xs:schema>
