tags/branchpoint-2_0/drools/drools-annotation/src/conf/META-INF/annotation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://drools.org/semantics/annotation"
	elementFormDefault="qualified"
	xmlns:annotation="http://drools.org/semantics/annotation"
	xmlns:rules="http://drools.org/rules">

	<xs:import namespace="http://drools.org/rules"
		schemaLocation="rules.xsd" />

	<xs:element name="rule" type="xs:string" substitutionGroup="rules:abstractRule">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="class" use="required" type="xs:string" />
			<xs:attribute name="salience" type="xs:integer" />
			<xs:attribute name="no-loop" type="xs:boolean" />
			<xs:attribute name="description" type="xs:string" />
		</xs:complexType>
	</xs:element>
	

	<!-- 
	<xs:element name="rule">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="duration" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="days"
							type="xs:nonNegativeInteger" />
						<xs:attribute name="hours"
							type="xs:nonNegativeInteger" />
						<xs:attribute name="minutes"
							type="xs:nonNegativeInteger" />
						<xs:attribute name="seconds"
							type="xs:nonNegativeInteger" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="salience" type="xs:integer" />
			<xs:attribute name="no-loop" type="xs:boolean" />
			<xs:attribute name="description" type="xs:string" />
		</xs:complexType>

		<xs:key name="ruleName">
			<xs:selector xpath="rules:rule" />
			<xs:field xpath="@name" />
		</xs:key>
	</xs:element>
	-->
	
</xs:schema>
