trunk/drools/drools-examples/src/conf/META-INF/conway.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://drools.org/semantics/conway"
    elementFormDefault="qualified"
    xmlns:conway="http://drools.org/semantics/conway"
    xmlns:rules="http://drools.org/rules">

    <xs:import namespace="http://drools.org/rules" schemaLocation="rules.xsd"/>

    <xs:element name="condition" substitutionGroup="rules:abstractCondition">
        <xs:complexType>
            <xs:all>
                <xs:element ref="conway:cellIsAlive" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="conway:cellIsDead" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="conway:cellIsOverCrowded" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="conway:cellIsRipeForBirth" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="conway:cellIsLonely" minOccurs="0" maxOccurs="1"/>
            </xs:all>
            <xs:attribute name="cellName" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="actions" substitutionGroup="rules:abstractConsequence">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element ref="conway:killCell"/>
                    <xs:element ref="conway:giveBirthToCell"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="cellName" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="killCell"/>
    <xs:element name="giveBirthToCell"/>
    <xs:element name="cellIsAlive"/>
    <xs:element name="cellIsDead"/>
    <xs:element name="cellIsOverCrowded"/>
    <xs:element name="cellIsLonely"/>
    <xs:element name="cellIsRipeForBirth"/>

</xs:schema>
