trunk/drools/drools-examples/src/conf/META-INF/house.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://drools.org/semantics/house"
           elementFormDefault="qualified"
           xmlns:house="http://drools.org/semantics/house"
           xmlns:rules="http://drools.org/rules"
           >

  <xs:import namespace="http://drools.org/rules" schemaLocation="rules.xsd" />           
           
  <xs:element name="condition" substitutionGroup="rules:abstractCondition">
    <xs:complexType>
       <xs:sequence>
         <xs:element ref="house:room" />
       </xs:sequence>
    </xs:complexType>    
  </xs:element>

  <xs:element name="actions" substitutionGroup="rules:abstractConsequence" >
    <xs:complexType>
       <xs:sequence>
         <xs:element ref="house:room" />
       </xs:sequence>
    </xs:complexType>   
  </xs:element>

  <xs:element name="room">
    <xs:complexType>
       <xs:choice>
         <xs:element ref="house:temperature" />
         <xs:element ref="house:heating" />         
       </xs:choice>
       <xs:attribute name="name" type="xs:string"/>       
    </xs:complexType>    
  </xs:element>  
  
  
  <xs:element name="heating" >
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="on" />
        <xs:enumeration value="off" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>    
  
  <xs:element name="temperature" >
    <xs:complexType>
      <xs:choice>
        <xs:element ref="house:less-than" />
        <xs:element ref="house:greater-than" />            
      </xs:choice>
    </xs:complexType>
  </xs:element>  

  <xs:element name="less-than">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="scale" type="house:scale"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  
  <xs:element name="greater-than">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="scale" type="house:scale"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element> 

  <xs:simpleType name="scale">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F" />
      <xs:enumeration value="C" />
      <xs:enumeration value="K" />
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
